<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <!-- Бренд и кнопка "Гамбургер" для мобильного меню -->
      <a class="navbar-brand" href="#">Tadbirkorlik</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Навигационное меню -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Элементы навигации с подразделами -->
          <li class="nav-item">
            <a class="nav-link" href="#">Boshqarma haqida</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Yig'ma ma'lumotlar
            </a>
            <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-success" href="#">Категория 1</a></li>
              <li><a class="dropdown-item text-success" href="#">Категория 2</a></li>
              <li><a class="dropdown-item text-success" href="#">Категория 3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Me'yoriy hujjatlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Yangiliklar</a>
          </li>
                 {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Chiqish</button>
            </form>
<!--           <a class="nav-link" href="{% url 'logout' %}">Chiqish</a>-->
          </li>
          {% else %}
          <li class="nav-item active">
           <a class="nav-link" href="{% url 'login' %}">Kirish</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

